fastapi
uvicorn[standard]
aiosqlite
aiomysql
pydantic
pydantic-settings
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
aiohttp
python-multipart
loguru
sqlalchemy
sqlmodel
Pillow

pytest
pytest-asyncio
httpx
psutil
